<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @information.user_id %>
</p>

<p>
  <b>Full name:</b>
  <%= @information.full_name %>
</p>

<p>
  <b>Form:</b>
  <%= @information.form %>
</p>

<p>
  <b>Age:</b>
  <%= @information.age %>
</p>

<p>
  <b>Gender:</b>
  <%= @information.gender %>
</p>

