<h1>Listing research_bs</h1>

<table>
  <tr>
    <th>Score</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @research_bs.each do |research_b| %>
  <tr>
    <td><%= research_b.score %></td>
    <td><%= research_b.user_id %></td>
    <td><%= link_to 'Show', research_b %></td>
    <td><%= link_to 'Edit', edit_research_b_path(research_b) %></td>
    <td><%= link_to 'Destroy', research_b, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Research b', new_research_b_path %>
