<p id="notice"><%= notice %></p>
<%=@bill%>
<p>
  <b>Define 1:</b>
  <%= @feedback.define_1 %>
</p>

<p>
  <b>Define 2:</b>
  <%= @feedback.define_2 %>
</p>

<p>
  <b>Define 3:</b>
  <%= @feedback.define_3 %>
</p>

<p>
  <b>Define t:</b>
  <%= @feedback.define_t %>
</p>

<p>
  <b>Access 1:</b>
  <%= @feedback.access_1 %>
</p>

<p>
  <b>Access 2:</b>
  <%= @feedback.access_2 %>
</p>

<p>
  <b>Access 3:</b>
  <%= @feedback.access_3 %>
</p>

<p>
  <b>Access 4:</b>
  <%= @feedback.access_4 %>
</p>

<p>
  <b>Access t:</b>
  <%= @feedback.access_t %>
</p>

<p>
  <b>Evaluate 1:</b>
  <%= @feedback.evaluate_1 %>
</p>

<p>
  <b>Evaluate 2:</b>
  <%= @feedback.evaluate_2 %>
</p>

<p>
  <b>Evaluate 3:</b>
  <%= @feedback.evaluate_3 %>
</p>

<p>
  <b>Evaluate 4:</b>
  <%= @feedback.evaluate_4 %>
</p>

<p>
  <b>Evaluate t:</b>
  <%= @feedback.evaluate_t %>
</p>

<p>
  <b>Use 1:</b>
  <%= @feedback.use_1 %>
</p>

<p>
  <b>Use 2:</b>
  <%= @feedback.use_2 %>
</p>

<p>
  <b>Use t:</b>
  <%= @feedback.use_t %>
</p>

<p>
  <b>Il total:</b>
  <%= @feedback.il_total %>
</p>


<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
