<h1>Listing research_cs</h1>

<table>
  <tr>
    <th>Score</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @research_cs.each do |research_c| %>
  <tr>
    <td><%= research_c.score %></td>
    <td><%= research_c.user_id %></td>
    <td><%= link_to 'Show', research_c %></td>
    <td><%= link_to 'Edit', edit_research_c_path(research_c) %></td>
    <td><%= link_to 'Destroy', research_c, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Research c', new_research_c_path %>
